/* css styling exercise */
.box {
  background-color: blue;
  border-color: purple !important;
  padding: 10px;
}

p {
  color: white;
  padding: 0;
  margin: 0;
}

.inner-box {
  background-color: red;
}

#outer-box {
  background-color: purple;
}
